/* button */
.btn-1 {
  color: black;
  background-color: var(--color-shade-medium);
  width:100%;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  vertical-align: middle;
}

.btn-boxshadow {
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.3);
}

.btn-boxshadow:active:not(:disabled) {
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.4);
}

/* inputs */
.input-1 {
  text-align: center;
  color: Black;
  background-color: var(--color-shade-medium);
  border-style: none;
  border-radius:3px;
}


/* dropdown */  
  .dropdown {
     position: relative;
  }

  .dropdown .btn-1 {
    text-align: left;
 }
  
  .dropdown-itemcontainer {
    /*display: none;*/
    width: 100%;
    position: absolute;
    background-color: var(--color-shade-light);
    box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.4);
    z-index: 1;
  }
  
  .dropdown-itemcontainer span {
    position: relative;
    display: block;
    color: black;
    padding: 8px 12px;
    text-decoration: none;
    cursor: pointer;
  }
  
  .dropdown-itemcontainer span:hover {
    background-color: var(--color-shade-medium);
  }
  
  .dropdown-arrow {
    pointer-events: none;
    color: var(--color-shade-light);
    float:right;
  }
  
  .dropdownImg {
    position: absolute;
    left:5px;
    top: 6px;
  }

  #dropdown-re {
    width: 100px;  
  }

  /* raster visibility slider */
#opacity-container {
  position: relative;
  width: 30px;
  height: 30px;
  padding-left: 5px;
  padding-right: 5px;
}

#eye {
  min-width: 20px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  z-index: 2;
}

#slider-opacity {
  opacity: 1;
  width: 120px;
  padding: 5px 10px 5px 10px;
  height: 30px;
  z-index: 1;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
}

.slider {
  background-color: var(--color-shade-light);
}

/* adjacency radio */
.myCheckbox {
  display: inline-block;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  position: relative;
  background-color: var(--color-shade-light);
  -webkit-transition: background-color .15s linear;
  -moz-transition: background-color .15s linear;
  -o-transition: background-color .15s linear;
  transition: background-color .15s linear;
  cursor: pointer;
}

.myCheckbox > div {
  opacity: 0;
  border-radius: 50%;
  position: absolute;
  vertical-align: middle;
  text-align: center;
  width: 20px;
  height: 20px;
  font-size: 12px;
  color: white;
  line-height: 20px;
  margin-left: -2px;
  margin-top: -2px;
  -webkit-transition: opacity .15s linear;
  -moz-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
  transition: opacity .15s linear;
}

.myCheckbox.check > div {
  opacity: 1;
}

#check0 {
  border: 2px solid var(--color-adja-4);
}

#check1 {
  border: 2px solid var(--color-adja-8);
}

#check2 {
  border: 2px solid var(--color-adja-24);
}

#check3 {
  border: 2px solid var(--color-adja-48);
}

#check0.check {
  background-color: var(--color-adja-4);
}

#check1.check {
  background-color: var(--color-adja-8);
}

#check2.check {
  background-color: var(--color-adja-24);
}

#check3.check {
  background-color: var(--color-adja-48);
}

.checkLabel {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  cursor: pointer;
}

.checkDiv {
  padding-bottom: 5px;
}

/* reclassification menus */
#b_slope_remove_reclassify {
  margin-left: 10px;
  margin-right: 10px;
}

.reclass_item input {
  width: 25%;
}