:root {
    --story-height: 200px; 
    --color-shade-light: #ECF0F1;
    --color-shade-medium: #BDC3C7;
    --color-shade-dark: #2C3E50;

    --color-answer-background: lightyellow;
    --color-link: blue;

    --width-total: 100%;

    --width-side-panel: 25%;
    --maxwidth-side-panel: 220px;
    --height-side-panel: 900px;

    --width-center-panel: 50%;
    --height-center-panel: 900px;

    --color-adja-4: gold;
    --color-adja-8: darkorange;
    --color-adja-24: red;
    --color-adja-48: fuchsia;
  }