:root {
    --story-height: 200px; 
    --color-shade-light: #ECF0F1;
    --color-shade-medium: #BDC3C7;
    --color-shade-dark: #2C3E50;

    --color-answer-background: lightyellow;
    --color-link: blue;

    --width-total: 100%;

    --width-side-panel: 20%;
    --maxwidth-side-panel: 240px;
    --height-side-panel: 600px;

    --width-center-panel: 60%;
    --height-center-panel: 600px;
  }